//FONT SIZES
$default-font-size: 1.6rem;

// Primary Colors
$color-red: hsl(0, 78%, 62%);
$color-cyan: hsl(180, 62%, 55%);
$color-orange: hsl(34, 97%, 64%);
$color-blue: hsl(212, 86%, 64%);
$color-blue-light: hsla(212, 86%, 64%, 0.4);

// Neutral Colors
$color-dark-blue: hsl(234, 12%, 34%);
$color-gray-blue: hsl(229, 6%, 66%);
$color-light-gray: hsl(0, 0%, 98%);

// Shadows
$box-shadow-high: 0 10px 40px -15px $color-blue-light;
$box-shadow-hover: 0 8px 20px -15px rgba(0, 0, 0, 0.2);
